---
layout: default
---

{% if page.image %}
<style>
    body {
        background-image: url('{{ page.image }}');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        filter: none;
    }
    body::before {
        content: "";
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: -1;
        background: inherit;
        background-image: inherit;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        filter: blur(16px) brightness(0.9);
    }
</style>
{% endif %}
<article class="flex flex-col mx-auto my-8 w-full max-w-5xl border border-gray-300 rounded-lg p-6 md:p-8 bg-white shadow">
    <h1 class="text-3xl font-bold mb-4">{{ page.title }}</h1>
    <hr class="my-4 border-gray-300">
    <div class="w-full">
        {{ content }}
    </div>
</article>
